.titulo{
    color: red; font-size: 50px; 
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    border: 2px;
    height: 50px;
    width: 480px;
po
    
}
body{
    background-color: rgb(247, 222, 176);

}
.formu{
    border: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(251, 252, 201);
    width: 480px;
    text-align: center;
    position: relative;
    width: 480px;
    
    
}
.botao1{
    color: red;
    background-color: rgb(8, 2, 10);
   
   
}   
